body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: cadetblue;
}
h1{
    font-size: 75px;
    color: darkred;
}
#imagenes img{
    width: 15%;
    transition: all 300ms;
    position: relative;
    
}

#imagenes img:hover{
    transform: scale(1.15);
}

.nav{
    background-color: currentColor;
}


ul{
    background-color: rgb(56, 87, 87);

}

li{
    height: 100px;
    background-color: cornflowerblue;
    margin-right: 20%;


}

a{
    text-decoration: none;
}
.grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    
 
}

.icon{
    position:relative;
    display: inline-flex;

}
